
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport"    content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author"      content="Sergey Pozhilov (GetTemplate.com)">
	
	<title>Split.it</title>

	<link rel="shortcut icon" href="assets/images/gt_favicon.png">
	
	<!-- Bootstrap itself -->
	<link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" type="text/css">

	<!-- Custom styles -->
	<link rel="stylesheet" href="assets/css/template.css">

	<!-- Fonts -->
	<link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet" type="text/css">
	<link href='http://fonts.googleapis.com/css?family=Wire+One' rel='stylesheet' type='text/css'>

	<!-- Map scripts, taken from Google example -->
	<script src="https://maps.googleapis.com/maps/api/js"></script>
	<script>
  		function initialize() {
    		var mapCanvas = document.getElementById('map');
    		var mapOptions = {
    		  center: new google.maps.LatLng(40.714, -74.006),
     		 zoom: 8,
    		  mapTypeId: google.maps.MapTypeId.ROADMAP
  		    }
  	  	  var map = new google.maps.Map(mapCanvas, mapOptions);
 		}
  		google.maps.event.addDomListener(window, 'load', initialize);
	</script>





</head>

<!-- use "theme-invert" class on bright backgrounds, also try "text-shadows" class -->
<body class="theme-invert">
	
	<!--Color Bar at the top of the page -->
	<div class="container-fluid" >
	<!--<div class="row" style="background-color: #b48e9f; padding-left: none">
			<h1 class="title" style="text-align: center;">Split It</h1> -->
		<!--<button type="button" class="btn btn-default btn-lg">
				<span class="glyphicon glyphicon-user"aria-hidden="true"></span>
			</button> -->
			<div class="row" style="background-color: #b48e9f; padding-left: none">
			<img src="assets/images/Drawing.png" class="img-responsive" style="width:150px; height: 80px; margin: 0 auto;">
		</div>
	</div>

	<!-- Main feed display box -->

				<div class="col-md-4">
					<div class="row" style="padding-top: 50px; padding-left: 50px; font-size:25px;">
						<p style="font-size: 40px;padding-bottom: 30px;">Actions</p>
						<p style="font-size: 20px;"><a href="http://localhost:3000/requestform">Create a Request</a></p>
						<p style="font-size: 20px;"><a href="">Near Me </a></p>
						<p style="font-size: 20px"><a href="">Categories</a></p>
					</div>
				</div>
				<div class="col-md-6">
					<div class="row" style="text-align: left; font-size: 25px;padding-bottom: 40px;">
					</div>
				</div>
					<!--LIVE FEED -->
					<div class="col-md-4">
						<div class="row"; style="text-align: left padding-bottom: 30px;">
					<p style="font-size: 40px; padding-bottom: 25px;">Latest Requests</p>
						
						<p style="padding-top: 10px; padding-bottom: 20px;  padding-left:5px; padding-right: 5px; font-size: 18px;"> <span style="font-color: green; ">Jason</span> needs to order <span style="font-color: blue; ">Pizza</span> by <span style="font-color: orange;">10:45pm</span>. <a class="btn btn-default" href="#" role="button" style="color: black; background-color:#e1c100;">Split</a></p>

						<p style="padding-top: 20px; padding-bottom: 20px; padding-left:5px; padding-right: 5px; font-size: 18px;"> Michelle needs to order Sushi by 10:45pm. <a class="btn btn-default" href="#" role="button" style="color: black; background-color:#e1c100;">Split</a></p>

<<<<<<< HEAD
						<p style="padding-top: 20px; padding-bottom: 20px; padding-left:5px; padding-right: 5px; font-size: 18px;"> Brian wants to order Indian by 10:45pm. <a class="btn btn-default" href="#" role="button" style="color: black; background-color:#e1c100;">Split</a></p>
				</div>
				<div id="map" style="width: 500px; height: 400px; background-color: #ccc"></div>


=======
						<p style="padding-top: 20px; padding-bottom: 20px; padding-left:5px; padding-right: 5px; font-size: 18px;"> Brian wants to order Indian by 10:45pm. <a class="btn btn-default" href="#" role="button" style="color: black; background-color:#e1c100;">Split</a></p>	
				</div>

				<!-- Google Map Iframe API -->
			
>>>>>>> origin/master
<!-- Main (Home) section -->
<section class="section" id="head">
	<div class="container">
		<div class="row">
			<div class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1 text-center">		
			<!--Page Content Goes Here -->
			</div> <!-- /col -->
		</div> <!-- /row -->
	</div>
</section>










<!-- Second (About) section -->
<section class="section" id="about">
	<div class="container">
	
		<h2 class="text-center title">About me</h2>
		<div class="row">
			<div class="col-sm-4 col-sm-offset-2">    
				<h5><strong>Where's my lorem ipsum?<br></strong></h5>
				<p>Well, here it is: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum, ullam, ducimus, eaque, ex autem est dolore illo similique quasi unde sint rerum magnam quod amet iste dolorem ad laudantium molestias enim quibusdam inventore totam fugit eum iusto ratione alias deleniti suscipit modi quis nostrum veniam fugiat debitis officiis impedit ipsum natus ipsa. Doloremque, id, at, corporis, libero laborum architecto mollitia molestiae maxime aut deserunt sed perspiciatis quibusdam praesentium consectetur in sint impedit voluptates! Deleniti, sequi voluptate recusandae facere nostrum?</p>    
			</div>
			<div class="col-sm-4">
				<h5><strong>More, more lipsum!<br></strong></h5>    
				<p>Tempore, eos, voluptatem minus commodi error aut eaque neque consequuntur optio nesciunt quod quibusdam. Ipsum, voluptatibus, totam, modi perspiciatis repudiandae odio ad possimus molestias culpa optio eaque itaque dicta quod cupiditate reiciendis illo illum aspernatur ducimus praesentium quae porro alias repellat quasi cum fugiat accusamus molestiae exercitationem amet fugit sint eligendi omnis adipisci corrupti. Aspernatur.</p>    
				<h5><strong>Author links<br></strong></h5>    
				<p><a href="http://be.net/pozhilov9409">Behance</a> / <a href="https://twitter.com/serggg">Twitter</a> / <a href="http://linkedin.com/pozhilov">LinkedIn</a> / <a href="https://www.facebook.com/pozhilov">Facebook</a></p>
			</div>
		</div>
	</div>
</section>

<!-- Third (Works) section -->
<section class="section" id="themes">
	<div class="container">
	
		<h2 class="text-center title">More Themes</h2>
		<p class="lead text-center">
			Huge thank you to all people who publish<br>
			their photos at <a href="http://unsplash.com">Unsplash</a>, thank you guys!
		</p>
		<div class="row">
			<div class="col-sm-4 col-sm-offset-2">
				<div class="thumbnail">
					<img src="assets/screenshots/sshot1.jpg" alt="">
					<div class="caption">
						<h3>Thumbnail label</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque doloribus enim vitae nam cupiditate eius at explicabo eaque facere iste.</p>
						<p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
					</div>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="thumbnail">
					<img src="assets/screenshots/sshot4.jpg" alt="">
					<div class="caption">
						<h3>Thumbnail label</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque doloribus enim vitae nam cupiditate eius at explicabo eaque facere iste.</p>
						<p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
					</div>
				</div>
			</div>
			<div class="col-sm-4 col-sm-offset-2">
				<div class="thumbnail">
					<img src="assets/screenshots/sshot5.jpg" alt="">
					<div class="caption">
						<h3>Thumbnail label</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque doloribus enim vitae nam cupiditate eius at explicabo eaque facere iste.</p>
						<p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
					</div>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="thumbnail">
					<img src="assets/screenshots/sshot3.jpg" alt="">
					<div class="caption">
						<h3>Thumbnail label</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque doloribus enim vitae nam cupiditate eius at explicabo eaque facere iste.</p>
						<p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
					</div>
				</div>
			</div>

		</div>

	</div>
</section>

<!-- Fourth (Contact) section -->
<section class="section" id="contact">
	<div class="container">
	
		<h2 class="text-center title">Get in touch</h2>

		<div class="row">
			<div class="col-sm-8 col-sm-offset-2 text-center">
				<p class="lead">Have a question about this template, or want to suggest a new feature?</p>
				<p>Feel free to email me, or drop me a line in Twitter!</p>
				<p><b>gt@gettemplate.com</b><br><br></p>
				<ul class="list-inline list-social">
					<li><a href="https://twitter.com/serggg" class="btn btn-link"><i class="fa fa-twitter fa-fw"></i> Twitter</a></li>
					<li><a href="https://github.com/pozhilov" class="btn btn-link"><i class="fa fa-github fa-fw"></i> Github</a></li>
					<li><a href="http://linkedin/in/pozhilov" class="btn btn-link"><i class="fa fa-linkedin fa-fw"></i> LinkedIn</a></li>
				</ul>
			</div>
		</div>

	</div>
</section>











<!-- Load js libs only when the page is loaded. -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
<script src="assets/js/modernizr.custom.72241.js"></script>
<!-- Custom template scripts -->
<script src="assets/js/magister.js"></script>
</body>
</html>